/* Reset default styles to maintain consistency across browsers */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* applies the same font-family to whole page */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  word-spacing: 0.25em;
}

/* header with an image and two boxes */
#header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/02-portfolio-7.jpg");
  background-size: cover;
  height: 35vh;
}

#header h1 {
  position: absolute;
  bottom: 2em;
  right: 2em;
  color: whitesmoke;
}

#topHeader {
  display: flex;
  justify-content: space-between;
  background-color: #090909;
}

#topHeader h1 {
  background-color: whitesmoke;
  padding: 0.5em;
  margin: 0.5em;
}

header nav {
  padding-top: 2em;
  padding-right: 4em;
}

/* styling for the navigation bars */
header nav a {
  color: white;
  font-weight: 400;
  text-decoration: underline;
  font-size: 2em;
  padding: 0 0.5em;
}

/* delineating the three sections from the contents with headings */
#aboutMe,
#work,
#contactMe {
  height: 60%;
  width: 100%;
  display: flex;
  margin-bottom: 1em;
  color: #2b3840;
}

/* aboutMe section as a flexbox */
#aboutMe {
  display: flex;
  align-items: center;
}

/* styling for the heading of the About Me section */
#aboutMe h2 {
  border-right: 0.25em solid #475e64;
  padding-right: 1em;
  margin-right: 8em;
  margin-left: 8em;
}

#aboutMe h3 {
  color: #2a4763;
}

/* styling for the avatar*/
#aboutMe img {
  margin-left: 4em;
  margin-top: 2em;
  padding: 30px;
}

/* contact me section  */

#contactMe h2 {
  border-right: 0.25em solid #475e64;
  padding-right: 1em;
  margin-right: 12em;
  margin-left: 7.2em;
}

#contactMe h3 {
  color: #508991;
}

#contactMe h3 a,
i {
  color: #1f6d66;
  margin: 0.25em;
}

/* work section */

#work h2 {
  border-right: 0.25em solid #475e64;
  padding-right: 1em;
  margin-right: 10em;
  margin-left: 10em;
}

#work h3 a {
  color: #53599A;
  font-size: 2.5em;
  font-style: normal;
  text-decoration: none;
}


#work p {
  color: #4f6775;
  font-weight: 600;
  padding: 1.5rem;
  font-size: 1.5em;
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.project-container {
  display: flex;
  flex-wrap: wrap;

}

.project-box {
  flex: 1 1 calc(100% - 20px);
  margin: 1em;
  padding: 5em;
  border: 0.25em solid #A6B1E1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.codeRefactoring {
  background-image: url("../images/02-portfolio-11.jpg");
  max-width: 1100px;
  height: 500px;
}

.personalPortfolio {
  background-image: url("../images/02-portfolio-12.jpg");
  max-width: 535px;
}

.AIML {
  background-image: url("../images/02-portfolio-3.jpg");
  max-width: 535px;
}

.codingInterviews {
  background-image: url("../images/02-portfolio-5.jpg");
  max-width: 535px;
}

.selfLearning {
  background-image: url("../images/02-portfolio-10.jpg");
  max-width: 535px;
}